$desk1920 : "all and (max-width:1920px)";
$desk1690 : "all and (max-width:1690px)";
$desk1440 : "all and (max-width:1440px)";
$desk1366 : "all and (max-width:1366px)";
$desk1152 : "all and (max-width:1152px)";
$ipadLand : "all and (max-width:1024px)";
$ipadPort : "all and (max-width:992px)";
$miniDivce: "all and (max-width:767px)";
$iphone6: "all and (max-width:480px)";
$iphone4: "all and (max-width:320px)";