@font-face {
  font-family: 'GothamB';
  src: url("fonts/Gotham-Book_gdi.eot");
  src: url("fonts/Gotham-Book_gdi.eot?#iefix") format("embedded-opentype"), url("fonts/Gotham-Book_gdi.woff") format("woff"), url("fonts/Gotham-Book_gdi.ttf") format("truetype"), url("fonts/Gotham-Book_gdi.otf") format("opentype"), url("fonts/Gotham-Book_gdi.svg#Gotham-Book") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2248; }
@font-face {
  font-family: 'GothamM';
  src: url("fonts/Gotham-Medium_gdi.eot");
  src: url("fonts/Gotham-Medium_gdi.eot?#iefix") format("embedded-opentype"), url("fonts/Gotham-Medium_gdi.woff") format("woff"), url("fonts/Gotham-Medium_gdi.ttf") format("truetype"), url("fonts/Gotham-Medium_gdi.otf") format("opentype"), url("fonts/Gotham-Medium_gdi.svg#Gotham-Medium") format("svg");
  font-weight: 350;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2212; }
@font-face {
  font-family: 'GothamL';
  src: url("fonts/Gotham-Light_gdi.eot");
  src: url("fonts/Gotham-Light_gdi.eot?#iefix") format("embedded-opentype"), url("fonts/Gotham-Light_gdi.woff") format("woff"), url("fonts/Gotham-Light_gdi.otf") format("opentype"), url("fonts/Gotham-Light_gdi.svg#Gotham-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2248; }
@font-face {
  font-family: 'Gotham-Bold';
  src: url("fonts/Gotham-Bold_gdi.eot");
  src: url("fonts/Gotham-Bold_gdi.eot?#iefix") format("embedded-opentype"), url("fonts/Gotham-Bold_gdi.woff") format("woff"), url("fonts/Gotham-Bold_gdi.ttf") format("truetype"), url("fonts/Gotham-Bold_gdi.otf") format("opentype"), url("fonts/Gotham-Bold_gdi.svg#Gotham-Bold") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2212; }
@font-face {
  font-family: 'Gotham-Thin';
  src: url("fonts/Gotham-Thin_gdi.eot");
  src: url("fonts/Gotham-Thin_gdi.eot?#iefix") format("embedded-opentype"), url("fonts/Gotham-Thin_gdi.woff") format("woff"), url("fonts/Gotham-Thin_gdi.ttf") format("truetype"), url("fonts/Gotham-Thin_gdi.otf") format("opentype"), url("fonts/Gotham-Thin_gdi.svg#Gotham-Thin") format("svg");
  font-weight: 250;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2212; }
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0; }

html, body {
  -webkit-overflow-scrolling: touch;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  color: #858585;
  font-size: 14px;
  line-height: 22px;
  font-family: 'GothamB';
  font-weight: 400;
  background: #ffffff; }
  @media all and (max-width: 1440px) {
    body {
      font-size: 13px;
      line-height: 18px; } }

a, a:focus {
  color: #858585;
  text-decoration: none;
  outline: 0; }

a:hover {
  color: #000;
  text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0; }

ul {
  margin: 0;
  padding: 0; }

ul li {
  margin: 0;
  padding: 0; }

.relative {
  position: relative; }

.absolute {
  position: absolute; }

.table {
  display: table; }

.table-cell {
  display: table-cell; }

.cover {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0; }

.vmiddle {
  vertical-align: middle; }

.img-full {
  width: 100%; }

.mp-ho-nav header, .mp-ho-nav .header {
  background: transparent; }
.mp-ho-nav .header.fixed {
  background: rgba(0, 0, 0, 0.3); }
.mp-ho-nav nav ul li a, .mp-ho-nav .mp-nav ul li a {
  color: #fff; }
  @media all and (max-width: 992px) {
    .mp-ho-nav nav ul li a, .mp-ho-nav .mp-nav ul li a {
      color: #858585; } }
  .mp-ho-nav nav ul li a:hover, .mp-ho-nav .mp-nav ul li a:hover {
    color: #fff; }
    @media all and (max-width: 992px) {
      .mp-ho-nav nav ul li a:hover, .mp-ho-nav .mp-nav ul li a:hover {
        color: #000; } }
    .mp-ho-nav nav ul li a:hover:before, .mp-ho-nav .mp-nav ul li a:hover:before {
      background: #fff; }
      @media all and (max-width: 992px) {
        .mp-ho-nav nav ul li a:hover:before, .mp-ho-nav .mp-nav ul li a:hover:before {
          color: #000; } }
  .mp-ho-nav nav ul li a:after, .mp-ho-nav .mp-nav ul li a:after {
    background: #fff; }
@media all and (max-width: 992px) {
  .mp-ho-nav #menu-toggle #hamburger span {
    background: #fff; } }

.logo {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  width: 100%; }
  @media all and (max-width: 1024px) {
    .logo {
      padding-top: 30px;
      padding-bottom: 30px; } }
  @media all and (max-width: 767px) {
    .logo {
      padding-top: 20px;
      padding-bottom: 20px; } }
  .logo img {
    height: 47px; }
    @media all and (max-width: 767px) {
      .logo img {
        height: 32px; } }

.mp-container {
  padding: 0 125px; }

.preloader {
  background: #fff;
  height: 100%;
  position: fixed;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 999999;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out; }

.preloader-logo {
  height: 100%;
  width: 100%;
  background: url("../img/loading.svg") center center no-repeat;
  position: fixed;
  z-index: 999999; }

.mp-section {
  max-width: 1280px;
  margin: 0 auto; }
  @media all and (max-width: 1440px) {
    .mp-section {
      max-width: 1000px; } }
  @media all and (max-width: 1152px) {
    .mp-section {
      max-width: 960px; } }
  @media all and (max-width: 992px) {
    .mp-section {
      overflow: hidden; } }

.header {
  background: #fff;
  position: fixed;
  width: 100%;
  z-index: 11;
  top: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }

.header.fixed {
  position: fixed;
  width: 100%;
  z-index: 11;
  padding-bottom: 0;
  opacity: 0.96;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }

nav, .mp-nav {
  padding-top: 33px;
  text-align: center; }
  @media all and (max-width: 1024px) {
    nav, .mp-nav {
      padding-top: 23px; } }
  nav ul, .mp-nav ul {
    margin: 0px -15px; }
    @media all and (max-width: 992px) {
      nav ul, .mp-nav ul {
        position: relative;
        text-align: center; } }
    nav ul li, .mp-nav ul li {
      display: inline-block;
      float: left;
      padding: 0 15px; }
      @media all and (max-width: 992px) {
        nav ul li, .mp-nav ul li {
          display: block;
          float: none;
          opacity: 0;
          -webkit-transform: translateY(-20px);
          -moz-transform: translateY(-20px);
          -o-transform: translateY(-20px);
          -ms-transform: translateY(-20px);
          transform: translateY(-20px); }
          nav ul li:first-child, .mp-nav ul li:first-child {
            -webkit-transition: all 0.7s 0.2s ease-in-out;
            -moz-transition: all 0.7s 0.2s ease-in-out;
            -o-transition: all 0.7s 0.2s ease-in-out;
            -ms-transition: all 0.7s 0.2s ease-in-out;
            transition: all 0.7s 0.2s ease-in-out; }
          nav ul li:nth-child(2), .mp-nav ul li:nth-child(2) {
            -webkit-transition: all 0.7s 0.6s ease-in-out;
            -moz-transition: all 0.7s 0.6s ease-in-out;
            -o-transition: all 0.7s 0.6s ease-in-out;
            -ms-transition: all 0.7s 0.6s ease-in-out;
            transition: all 0.7s 0.6s ease-in-out; }
          nav ul li:nth-child(3), .mp-nav ul li:nth-child(3) {
            -webkit-transition: all 0.7s 0.8s ease-in-out;
            -moz-transition: all 0.7s 0.8s ease-in-out;
            -o-transition: all 0.7s 0.8s ease-in-out;
            -ms-transition: all 0.7s 0.8s ease-in-out;
            transition: all 0.7s 0.8s ease-in-out; }
          nav ul li:last-child, .mp-nav ul li:last-child {
            -webkit-transition: all 0.7s 0.8s ease-in-out;
            -moz-transition: all 0.7s 0.8s ease-in-out;
            -o-transition: all 0.7s 0.8s ease-in-out;
            -ms-transition: all 0.7s 0.8s ease-in-out;
            transition: all 0.7s 0.8s ease-in-out; } }
      nav ul li a, .mp-nav ul li a {
        color: #858585;
        font-family: 'GothamB';
        font-size: 13px;
        display: block;
        position: relative;
        text-transform: uppercase; }
        @media all and (max-width: 992px) {
          nav ul li a, .mp-nav ul li a {
            display: inline-block;
            font-size: 18px;
            padding: 7px 0; } }
        @media all and (max-width: 767px) {
          nav ul li a, .mp-nav ul li a {
            padding: 5px 0; } }
        nav ul li a:hover, .mp-nav ul li a:hover {
          color: #000; }
          nav ul li a:hover:before, .mp-nav ul li a:hover:before {
            visibility: visible;
            background: #000;
            width: 100%; }
          nav ul li a:hover:after, .mp-nav ul li a:hover:after {
            background: transparent;
            width: 100%;
            -webkit-transition: all 0s ease;
            -o-transition: all 0s ease;
            transition: all 0s ease; }
        nav ul li a:before, .mp-nav ul li a:before {
          bottom: -4px;
          content: '';
          height: 1px;
          left: 0%;
          position: absolute;
          transition: width 0.5s ease, background .5s ease;
          width: 0;
          visibility: hidden; }
          @media all and (max-width: 992px) {
            nav ul li a:before, .mp-nav ul li a:before {
              height: inherit;
              position: inherit; } }
        nav ul li a:after, .mp-nav ul li a:after {
          content: '';
          display: block;
          position: absolute;
          right: 0%;
          bottom: -4px;
          width: 0;
          height: 1px;
          background: #000;
          -webkit-transition: width 0.5s ease;
          -o-transition: width 0.5s ease;
          transition: width 0.5s ease; }
          @media all and (max-width: 992px) {
            nav ul li a:after, .mp-nav ul li a:after {
              height: inherit;
              position: inherit; } }
      @media all and (max-width: 992px) {
        nav ul li.navopen, .mp-nav ul li.navopen {
          opacity: 1;
          -webkit-transform: translateY(0px);
          -moz-transform: translateY(0px);
          -o-transform: translateY(0px);
          -ms-transform: translateY(0px);
          transform: translateY(0px); } }
      nav ul li.active a, .mp-nav ul li.active a {
        color: #000;
        border-bottom: 1px solid #000;
        padding-bottom: 3px;
        transition: all 0.5s ease; }
        @media all and (max-width: 992px) {
          nav ul li.active a, .mp-nav ul li.active a {
            border-bottom: none; } }
        nav ul li.active a:before, nav ul li.active a:after, .mp-nav ul li.active a:before, .mp-nav ul li.active a:after {
          transition: inherit;
          height: 0px; }

@media all and (max-width: 992px) {
  .overlay {
    position: fixed;
    background: rgba(255, 255, 255, 0.97);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    z-index: 3;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    overflow: hidden; }
    .overlay.open {
      opacity: 1;
      visibility: visible;
      height: 100%;
      -webkit-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease; }

  #menu-toggle {
    transition: .25s ease-in-out;
    box-sizing: border-box;
    cursor: pointer;
    height: 30px;
    position: absolute;
    right: 15px;
    top: 37px;
    width: 30px; } }
  @media all and (max-width: 992px) and (max-width: 767px) {
    #menu-toggle {
      top: 20px; } }
@media all and (max-width: 992px) {
    #menu-toggle span {
      display: block;
      background: #000;
      border-radius: 2px; }
    #menu-toggle:hover {
      background: transparent; }
    #menu-toggle #hamburger {
      position: absolute;
      height: 100%;
      width: 100%; }
      #menu-toggle #hamburger span {
        height: 2px;
        left: 0px;
        margin: 5px 0;
        position: relative;
        top: 0px;
        width: 25px;
        transition: .25s ease-in-out;
        box-sizing: border-box; }
        #menu-toggle #hamburger span:nth-child(1) {
          -moz-transition-delay: 0.5s;
          -o-transition-delay: 0.5s;
          -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s; }
        #menu-toggle #hamburger span:nth-child(2) {
          -moz-transition-delay: 0.625s;
          -o-transition-delay: 0.625s;
          -webkit-transition-delay: 0.625s;
          transition-delay: 0.625s; }
        #menu-toggle #hamburger span:nth-child(3) {
          -moz-transition-delay: 0.75s;
          -o-transition-delay: 0.75s;
          -webkit-transition-delay: 0.75s;
          transition-delay: 0.75s; }
    #menu-toggle #cross {
      position: absolute;
      height: 115%;
      width: 115%;
      transform: rotate(45deg);
      z-index: 4; }
      #menu-toggle #cross span:nth-child(1) {
        transition: .25s ease-in-out;
        box-sizing: border-box;
        height: 0%;
        width: 2px;
        position: absolute;
        top: 3px;
        left: 13px;
        -moz-transition-delay: 0s;
        -o-transition-delay: 0s;
        -webkit-transition-delay: 0s;
        transition-delay: 0s; }
      #menu-toggle #cross span:nth-child(2) {
        transition: .25s ease-in-out;
        box-sizing: border-box;
        width: 0%;
        height: 2px;
        position: absolute;
        left: 0px;
        top: 16px;
        -moz-transition-delay: 0.25s;
        -o-transition-delay: 0.25s;
        -webkit-transition-delay: 0.25s;
        transition-delay: 0.25s; }

  #menu-toggle.active #hamburger span {
    width: 0%; }
    #menu-toggle.active #hamburger span:nth-child(1) {
      -moz-transition-delay: 0s;
      -o-transition-delay: 0s;
      -webkit-transition-delay: 0s;
      transition-delay: 0s; }
    #menu-toggle.active #hamburger span:nth-child(2) {
      -moz-transition-delay: 0.125s;
      -o-transition-delay: 0.125s;
      -webkit-transition-delay: 0.125s;
      transition-delay: 0.125s; }
    #menu-toggle.active #hamburger span:nth-child(3) {
      -moz-transition-delay: 0.25s;
      -o-transition-delay: 0.25s;
      -webkit-transition-delay: 0.25s;
      transition-delay: 0.25s; }
  #menu-toggle.active #cross span:nth-child(1) {
    height: 80%;
    -moz-transition-delay: 0.625s;
    -o-transition-delay: 0.625s;
    -webkit-transition-delay: 0.625s;
    transition-delay: 0.625s; }
  #menu-toggle.active #cross span:nth-child(2) {
    width: 80%;
    -moz-transition-delay: 0.375s;
    -o-transition-delay: 0.375s;
    -webkit-transition-delay: 0.375s;
    transition-delay: 0.375s; }

  .mob-nav {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }

  .anchor {
    position: relative; }
    .anchor:before {
      content: "";
      width: 0;
      height: 2px;
      position: absolute;
      bottom: 0;
      left: 0;
      -webkit-transition: all 0.7s ease-in-out;
      -moz-transition: all 0.7s ease-in-out;
      -o-transition: all 0.7s ease-in-out;
      -ms-transition: all 0.7s ease-in-out;
      transition: all 0.7s ease-in-out; }
    .anchor:hover:before {
      width: 100%; } }
.mp-wrapper, .mp-home-wrapper {
  background: #fafafa; }

.mp-home-wrapper {
  padding-bottom: 58px; }
  @media all and (max-width: 1440px) {
    .mp-home-wrapper {
      padding-bottom: 48px; } }
  @media all and (max-width: 767px) {
    .mp-home-wrapper {
      padding-bottom: 5px; } }
  .mp-home-wrapper .figure {
    width: 100%;
    position: relative; }
  .mp-home-wrapper h3 {
    font-size: 20px;
    line-height: 32px;
    max-width: 750px;
    margin: 52px auto 51px;
    text-align: center; }
    @media all and (max-width: 1440px) {
      .mp-home-wrapper h3 {
        font-size: 18px;
        line-height: 26px;
        margin: 45px auto 43px;
        max-width: 650px; } }
    @media all and (max-width: 992px) {
      .mp-home-wrapper h3 {
        font-size: 18px;
        max-width: 600px; } }
    @media all and (max-width: 767px) {
      .mp-home-wrapper h3 {
        font-size: 16px;
        line-height: 20px;
        margin: 25px auto;
        max-width: auto; } }

.mp-wrapper {
  background: #fafafa;
  padding-top: 127px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }
  @media all and (max-width: 1024px) {
    .mp-wrapper {
      padding-top: 108px; } }
  @media all and (max-width: 767px) {
    .mp-wrapper {
      padding-top: 80px; } }

.mp-btm-mar {
  padding-bottom: 40px; }
  @media all and (max-width: 767px) {
    .mp-btm-mar {
      padding-bottom: 10px; } }

.mp-fe-prod {
  margin-bottom: 12px; }
  @media all and (max-width: 767px) {
    .mp-fe-prod {
      margin-bottom: 20px; } }
  .mp-fe-prod a h4 {
    bottom: 35px;
    color: #fff;
    font-family: "GothamB";
    font-size: 15px;
    font-weight: bold;
    left: 0;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    width: 100%; }

.wrap {
  animation-delay: 1s;
  height: 779px;
  position: relative;
  overflow: hidden; }
  @media all and (max-width: 1440px) {
    .wrap {
      height: 659px; } }
  @media all and (max-width: 1024px) {
    .wrap {
      height: 618px; } }
  @media all and (max-width: 992px) {
    .wrap {
      height: 618px; } }
  @media all and (max-width: 480px) {
    .wrap {
      height: 517px; } }
  .wrap .mp-ban-caption {
    bottom: 50px;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    width: 100%; }
    @media all and (max-width: 767px) {
      .wrap .mp-ban-caption {
        bottom: 30px; } }
    .wrap .mp-ban-caption h2 {
      color: #fff;
      font-size: 26px;
      font-weight: bold;
      text-transform: uppercase; }
      @media all and (max-width: 1440px) {
        .wrap .mp-ban-caption h2 {
          font-size: 24px; } }
      @media all and (max-width: 992px) {
        .wrap .mp-ban-caption h2 {
          padding: 0 30px;
          font-size: 20px; } }
      @media all and (max-width: 767px) {
        .wrap .mp-ban-caption h2 {
          font-size: 15px;
          line-height: 20px; } }
    .wrap .mp-ban-caption h1 {
      color: #fff;
      font-size: 36px;
      font-weight: bold;
      margin-bottom: 12px;
      margin-top: 12px;
      text-transform: uppercase; }
      @media all and (max-width: 1440px) {
        .wrap .mp-ban-caption h1 {
          font-size: 34px; } }
      @media all and (max-width: 992px) {
        .wrap .mp-ban-caption h1 {
          font-size: 30px;
          margin-bottom: 10px;
          margin-top: 10px; } }
      @media all and (max-width: 767px) {
        .wrap .mp-ban-caption h1 {
          font-size: 20px;
          margin-bottom: 6px;
          margin-top: 6px; } }

.cbp-bislideshow {
  list-style: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  padding: 0;
  margin: 0; }

.cbp-bislideshow li {
  position: absolute;
  width: 101%;
  height: 101%;
  top: -0.5%;
  left: -0.5%;
  opacity: 0;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  transition: opacity 1s; }

/* If background-size supported we'll add the images to the background of the li */
.backgroundsize .cbp-bislideshow li {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center center; }

/* ...and hide the images */
.backgroundsize .cbp-bislideshow li img {
  display: none; }

.cbp-bislideshow li img {
  display: block;
  width: 100%; }

.cbp-bicontrols {
  position: fixed;
  width: 300px;
  height: 100px;
  margin: -50px 0 0 -150px;
  top: 50%;
  left: 50%; }

.cbp-bicontrols span {
  float: left;
  width: 100px;
  height: 100px;
  position: relative;
  cursor: pointer; }

.cbp-bicontrols span:before {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  font-family: 'entypo';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 100px;
  font-size: 80px;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  opacity: 0.7; }

.cbp-bicontrols span:hover:before {
  opacity: 1; }

.cbp-bicontrols span:active:before {
  top: 2px; }

span.cbp-biplay:before {
  content: "\e002"; }

span.cbp-bipause:before {
  content: "\e003"; }

span.cbp-binext:before {
  content: "\e000"; }

span.cbp-biprev:before {
  content: "\e001"; }

.cbp-bicontrols span.cbp-binext {
  float: right; }

/* Fallback */
.no-js.no-backgroundsize .cbp-bislideshow li:first-child {
  opacity: 1; }

.no-js.backgroundsize .cbp-bislideshow li:first-child img {
  display: block; }

.mp-h1 {
  color: #484848;
  font-family: "GothamB";
  font-size: 20px; }

.mp-text-wrap {
  margin-top: 10px; }

.footer {
  background: #fff;
  color: #858585;
  padding-bottom: 40px;
  padding-top: 40px; }
  @media all and (max-width: 992px) {
    .footer {
      padding-bottom: 30px;
      padding-top: 30px; } }
  @media all and (max-width: 767px) {
    .footer {
      padding-bottom: 20px;
      padding-top: 20px; } }
  .footer p {
    text-align: center; }
    @media all and (max-width: 767px) {
      .footer p {
        font-size: 12px;
        line-height: 18px;
        padding: 0 15px; } }
    .footer p a {
      color: #000000; }
      .footer p a:hover {
        color: #000000; }

.mp-gu-6.row {
  margin-right: -6px;
  margin-left: -6px; }

.mp-gu-6 > [class^="col-"], .mp-gu-6 > [class^=" col-"] {
  padding-right: 6px;
  padding-left: 6px; }

.mp-gu-1.row {
  margin-right: -7px;
  margin-left: -7px; }

.mp-gu-1 > [class^="col-"], .mp-gu-1 > [class^=" col-"] {
  padding-right: 7px;
  padding-left: 7px; }

.col-xs-5m, .col-sm-5m, .col-md-5m, .col-lg-5m {
  position: relative;
  min-height: 1px;
  padding-right: 3px;
  padding-left: 3px; }

.col-xs-5m {
  width: 20%; }

@media (min-width: 1200px) {
  .col-lg-5m {
    width: 20%;
    float: left; } }
.mp-all-img {
  padding-top: 14px !important; }
  @media all and (max-width: 1024px) {
    .mp-all-img {
      padding-top: 30px !important;
      padding-bottom: 20px !important; } }
  @media all and (max-width: 992px) {
    .mp-all-img {
      padding-bottom: 10px !important;
      padding-top: 20px !important; } }
  @media all and (max-width: 767px) {
    .mp-all-img {
      padding-top: 15px !important; } }

.mp-coll-bg {
  padding: 0px 0px 0px; }
  .mp-coll-bg h1 {
    color: #000;
    font-size: 20px;
    font-weight: bold;
    margin: 0px 0px 32px;
    padding-top: 32px;
    text-align: center;
    text-transform: uppercase; }
    @media all and (max-width: 767px) {
      .mp-coll-bg h1 {
        font-size: 16px;
        margin-bottom: 20px;
        padding-top: 20px; } }
  .mp-coll-bg p {
    margin-bottom: 15px;
    text-align: justify; }
  .mp-coll-bg .mp-coll-cont {
    cursor: pointer;
    margin-bottom: 14px; }
    .mp-coll-bg .mp-coll-cont a {
      color: #fff; }
      .mp-coll-bg .mp-coll-cont a:hover {
        color: #fff; }
    .mp-coll-bg .mp-coll-cont figcaption {
      width: 100%;
      height: 100%;
      -webkit-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease; }
      .mp-coll-bg .mp-coll-cont figcaption:after, .mp-coll-bg .mp-coll-cont figcaption:before {
        position: absolute;
        top: 20px;
        right: 20px;
        bottom: 20px;
        left: 20px;
        content: '';
        opacity: 0;
        -webkit-transition: opacity 0.5s,  -webkit-transform 0.6s;
        transition: opacity 0.6s, transform 0.6s; }
        @media all and (max-width: 1440px) {
          .mp-coll-bg .mp-coll-cont figcaption:after, .mp-coll-bg .mp-coll-cont figcaption:before {
            top: 15px;
            right: 15px;
            bottom: 15px;
            left: 15px; } }
      .mp-coll-bg .mp-coll-cont figcaption:before {
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        -webkit-transform: scale(0, 1);
        transform: scale(0, 1); }
      .mp-coll-bg .mp-coll-cont figcaption:after {
        border-right: 1px solid #fff;
        border-left: 1px solid #fff;
        -webkit-transform: scale(1, 0);
        transform: scale(1, 0); }
      .mp-coll-bg .mp-coll-cont figcaption h3 {
        color: #fff;
        font-size: 14px;
        opacity: 0;
        padding: 0 15px;
        position: absolute;
        top: 50%;
        -webkit-transition: -webkit-transform 0.35s;
        transition: transform 0.35s;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        text-align: center;
        width: 100%;
        text-transform: uppercase; }
        @media all and (max-width: 1440px) {
          .mp-coll-bg .mp-coll-cont figcaption h3 {
            font-size: 13px; } }
        .mp-coll-bg .mp-coll-cont figcaption h3 span {
          font-size: 13px;
          display: block;
          margin-top: 5px;
          text-transform: capitalize; }
          @media all and (max-width: 1440px) {
            .mp-coll-bg .mp-coll-cont figcaption h3 span {
              font-size: 11px; } }
    .mp-coll-bg .mp-coll-cont:hover {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      -o-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0); }
      .mp-coll-bg .mp-coll-cont:hover figcaption {
        background: #000;
        opacity: 0.7; }
        .mp-coll-bg .mp-coll-cont:hover figcaption:after, .mp-coll-bg .mp-coll-cont:hover figcaption:before {
          opacity: 1;
          -webkit-transform: scale(1);
          transform: scale(1); }
        .mp-coll-bg .mp-coll-cont:hover figcaption h3 {
          color: #fff;
          opacity: 1;
          -webkit-word-wrap: break-word;
          -moz-word-wrap: break-word;
          -ms-word-wrap: break-word;
          word-wrap: break-word; }
  @media all and (max-width: 767px) {
    .mp-coll-bg .mp-fe-prod {
      margin-bottom: 12px; } }

.load {
  background: url("../img/smload.svg") no-repeat scroll center center transparent; }

.mp-breadcrumb {
  padding-bottom: 40px;
  padding-top: 0px; }
  .mp-breadcrumb ul {
    margin: 0 -15px; }
    .mp-breadcrumb ul li {
      float: left;
      font-size: 13px;
      display: inline-block;
      padding: 0 15px;
      position: relative;
      text-transform: uppercase; }
      @media all and (max-width: 767px) {
        .mp-breadcrumb ul li {
          font-size: 12px; } }

.mp-detail-img {
  background: #f6f6f6;
  padding: 33px 50px 23px; }
  @media all and (max-width: 1152px) {
    .mp-detail-img {
      padding: 30px 30px; } }
  @media all and (max-width: 767px) {
    .mp-detail-img {
      background: none;
      padding: 15px 0px 0px; } }

.mp-detail {
  padding-right: 50px; }
  @media all and (max-width: 1440px) {
    .mp-detail {
      padding-right: 0px; } }
  .mp-detail h2 {
    color: #000;
    font-family: "GothamB";
    font-size: 24px;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 20px;
    text-transform: uppercase; }
    @media all and (max-width: 1440px) {
      .mp-detail h2 {
        font-size: 17px; } }
    @media all and (max-width: 767px) {
      .mp-detail h2 {
        margin-top: 0px;
        margin-bottom: 10px; } }
  .mp-detail h3 {
    font-size: 14px;
    margin-bottom: 15px; }
    @media all and (max-width: 767px) {
      .mp-detail h3 {
        margin-bottom: 5px; } }
  .mp-detail p {
    text-align: left; }
  .mp-detail h5 {
    color: #000;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 35px;
    margin-top: 25px;
    position: relative; }
    @media all and (max-width: 767px) {
      .mp-detail h5 {
        margin-top: 30px; } }
    .mp-detail h5:before {
      content: "";
      background: #7e7e7e;
      top: 30px;
      position: absolute;
      left: 0;
      height: 1px;
      width: 22px; }
  .mp-detail dl {
    margin-bottom: 30px; }
    .mp-detail dl dt {
      font-weight: normal;
      float: left;
      margin-right: 20px;
      width: 145px; }
    .mp-detail dl dd {
      float: left; }

.enqBtn {
  margin-right: 20px;
  padding: 8px 50px; }
  @media all and (max-width: 1440px) {
    .enqBtn {
      padding: 8px 20px; } }

.tearSheet {
  padding: 8px 30px; }
  @media all and (max-width: 1440px) {
    .tearSheet {
      padding: 8px 20px; } }

.mp-enquire {
  background: none;
  border-radius: 0px;
  box-shadow: inset 0 0 0 1px #959595, 0 0 1px transparent;
  color: #000;
  display: inline-block;
  font-size: 13px;
  margin-top: 10px;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
  text-transform: uppercase;
  vertical-align: middle; }
  @media all and (max-width: 1024px) {
    .mp-enquire {
      margin-top: 20px; } }
  @media all and (max-width: 992px) {
    .mp-enquire {
      margin-top: 20px;
      width: 100%; } }
  @media all and (max-width: 767px) {
    .mp-enquire {
      margin-bottom: 25px;
      margin-top: 0px; } }
  .mp-enquire:hover {
    box-shadow: inset 0 0 0 1px #000, 0 0 1px transparent; }

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
  outline-offset: 0px; }

.aside {
  margin-top: 37px; }
  @media all and (max-width: 1024px) {
    .aside {
      margin-top: 34px; } }
  @media all and (max-width: 992px) {
    .aside {
      margin-top: 0px;
      padding: 30px; } }
  @media all and (max-width: 767px) {
    .aside {
      padding: 25px 0px 25px 0px; } }
  .aside .mp-color {
    color: #000;
    font-size: 13px;
    text-transform: uppercase;
    margin-bottom: 20px; }
  .aside ul {
    margin: 0 -5px; }
    .aside ul li {
      float: left;
      display: inline-block;
      list-style: none;
      width: 50%;
      padding: 0 5px;
      margin-bottom: 10px; }
      @media all and (max-width: 992px) {
        .aside ul li {
          width: 20%; } }
      @media all and (max-width: 992px) {
        .aside ul li {
          width: 33.33%; } }

.mp-zoom-img a {
  cursor: -moz-zoom-in;
  cursor: -webkit-zoom-in;
  cursor: zoom-in; }
.mp-zoom-img .clickToEn {
  bottom: 4px;
  display: block;
  position: absolute;
  text-align: center;
  width: 100%; }
  @media all and (max-width: 767px) {
    .mp-zoom-img .clickToEn {
      display: none; } }
  .mp-zoom-img .clickToEn a {
    cursor: pointer; }
    .mp-zoom-img .clickToEn a span {
      background: rgba(255, 255, 255, 0.7);
      -moz-border-radius: 5px 5px 0px 0px;
      -o-border-radius: 5px 5px 0px 0px;
      -ms-border-radius: 5px 5px 0px 0px;
      border-radius: 5px 5px 0px 0px;
      color: #000;
      font-size: 13px;
      padding: 8px 16px;
      text-transform: uppercase; }

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #fafafa; }

.mp-modal-box {
  background: #fff;
  border: 1px solid #e1e1e1;
  padding: 40px 100px 10px; }
  @media all and (max-width: 767px) {
    .mp-modal-box {
      padding: 20px 10px 0px; } }
  .mp-modal-box h4 {
    color: #000;
    border-bottom: 1px solid #e0e0e0;
    font-size: 18px;
    font-weight: bold;
    margin: 0px 15px 5px;
    padding-bottom: 25px;
    text-transform: uppercase;
    text-align: center; }
    @media all and (max-width: 767px) {
      .mp-modal-box h4 {
        margin-bottom: 5px; } }

.form-body {
  padding: 15px; }
  .form-body img {
    cursor: default !important; }
  .form-body .mp-color-img {
    padding-bottom: 20px; }
    .form-body .mp-color-img img {
      float: left;
      margin-right: 15px;
      width: 30px; }
    .form-body .mp-color-img p {
      position: relative;
      top: 10px; }
  .form-body label {
    color: #000;
    font-size: 12px;
    font-weight: normal;
    line-height: 0;
    margin-bottom: 0px;
    text-align: left; }
    @media all and (max-width: 1440px) {
      .form-body label {
        font-size: 11px; } }
  .form-body .form-group {
    margin-bottom: 20px; }
  .form-body .form-control {
    height: 35px;
    padding: 8px 12px;
    font-size: 13px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #e0e0e0;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none; }
    @media all and (max-width: 1440px) {
      .form-body .form-control {
        font-size: 12px; } }
  .form-body input[type=text] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }
  .form-body .input-group-addon {
    padding: 8px 12px;
    font-size: 13px;
    color: #636363;
    text-align: center;
    background-color: #fbfbfb;
    border-bottom: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0;
    border-right: 0;
    border-radius: 0px; }
  .form-body textarea.form-control {
    height: 100px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    resize: none; }
  .form-body .mp-btn-sub {
    background: #000;
    color: #fff;
    font-size: 13px;
    margin-top: 0px;
    padding: 8px 43px;
    text-transform: uppercase;
    border-radius: 0px; }

.swipe-target {
  height: 100%;
  position: absolute;
  width: 100%; }

.mp-con-detail {
  background: #fdfcfc; }
  @media all and (max-width: 767px) {
    .mp-con-detail {
      background: none; } }
  .mp-con-detail h1 {
    background: #f6f6f6;
    padding-bottom: 30px; }
    @media all and (max-width: 992px) {
      .mp-con-detail h1 {
        margin-bottom: 10px;
        padding-bottom: 20px;
        padding-top: 20px; } }
    @media all and (max-width: 767px) {
      .mp-con-detail h1 {
        background: none;
        padding-bottom: 0px; } }
  .mp-con-detail .ma-btm {
    margin-bottom: 8px; }
  .mp-con-detail .mp-in-page {
    padding: 20px 160px 40px; }
    @media all and (max-width: 1440px) {
      .mp-con-detail .mp-in-page {
        padding-left: 80px;
        padding-right: 80px; } }
    @media all and (max-width: 992px) {
      .mp-con-detail .mp-in-page {
        padding-bottom: 0px; } }
    @media all and (max-width: 767px) {
      .mp-con-detail .mp-in-page {
        padding-top: 0px; } }
    .mp-con-detail .mp-in-page .form-body {
      padding: 0px; }
    @media all and (max-width: 1152px) {
      .mp-con-detail .mp-in-page {
        padding-left: 60px;
        padding-right: 60px; } }
    @media all and (max-width: 992px) {
      .mp-con-detail .mp-in-page {
        padding-left: 0px;
        padding-right: 0px; } }
    .mp-con-detail .mp-in-page p {
      padding-bottom: 20px;
      text-align: center; }
      @media all and (max-width: 992px) {
        .mp-con-detail .mp-in-page p {
          padding-bottom: 10px; } }
      @media all and (max-width: 767px) {
        .mp-con-detail .mp-in-page p {
          margin-bottom: 0px;
          padding-bottom: 0px; } }
    .mp-con-detail .mp-in-page .le-ri-padding {
      padding: 0px 40px; }
      @media all and (max-width: 992px) {
        .mp-con-detail .mp-in-page .le-ri-padding {
          padding: 0px 120px 30px; } }
      @media all and (max-width: 767px) {
        .mp-con-detail .mp-in-page .le-ri-padding {
          padding: 0px; } }
    .mp-con-detail .mp-in-page .mp-cont-info {
      padding: 17px 40px 0px;
      position: relative;
      text-align: center; }
      @media all and (max-width: 1440px) {
        .mp-con-detail .mp-in-page .mp-cont-info {
          padding-top: 13px; } }
      @media all and (max-width: 992px) {
        .mp-con-detail .mp-in-page .mp-cont-info {
          background: #f9f9f9;
          padding: 40px 100px 20px; } }
      @media all and (max-width: 767px) {
        .mp-con-detail .mp-in-page .mp-cont-info {
          background: #f6f6f6;
          margin-top: 30px;
          padding: 25px 40px 5px; } }
      .mp-con-detail .mp-in-page .mp-cont-info:before {
        background: #e6e6e6;
        content: "";
        height: 351px;
        left: -15px;
        position: absolute;
        top: 22px;
        width: 1px; }
        @media all and (max-width: 1440px) {
          .mp-con-detail .mp-in-page .mp-cont-info:before {
            top: 18px; } }
        @media all and (max-width: 992px) {
          .mp-con-detail .mp-in-page .mp-cont-info:before {
            background: none;
            height: inherit;
            position: inherit; } }
      .mp-con-detail .mp-in-page .mp-cont-info h2 {
        color: #000;
        font-family: "GothamB";
        font-size: 15px;
        font-weight: bold;
        line-height: 20px;
        margin-bottom: 5px;
        text-transform: uppercase; }
      .mp-con-detail .mp-in-page .mp-cont-info p {
        font-size: 13px;
        padding-bottom: 10px; }
        @media all and (max-width: 1440px) {
          .mp-con-detail .mp-in-page .mp-cont-info p {
            font-size: 12px; } }
        .mp-con-detail .mp-in-page .mp-cont-info p span {
          color: #000;
          font-weight: bold;
          display: block;
          margin-bottom: 4px;
          text-transform: uppercase; }

@media all and (max-width: 992px) {
  .container-fluid {
    padding-right: 20px;
    padding-left: 20px; } }
.vspace {
  clear: both;
  height: 30px; }

a.mp-hov-link {
  color: #305cff;
  font-weight: bold; }
  a.mp-hov-link:hover {
    color: #305cff; }

/*# sourceMappingURL=style.css.map */
