@charset "utf-8";
body {
	background: url(/../images/bg_header.jpg) repeat-x left top #e7e2d3;
	color: #74655f;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
a { 
	color: #7a9704;
	text-decoration:none;
}
h1, h2, h3, input, textarea, select {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
h1 {
	font-size:18px;
	text-transform:uppercase;
	color: #74655f;
}
h2 {
	font-size:16px;
	font-weight:700;
	color: #74655f;
}

h3 {font: bold 10pt "Trebuchet MS";	color: #74655f;}

.cnotes{color: #918a87;}

.pctitle{font: bold 12pt "Trebuchet MS";}
div.pmessage{color: #655751; font: bold 11pt "Trebuchet MS"; background:#f6f4ed; }
div.top-head{height:5px; background: url(../images/heading-top.png);}
div.cnotesr{float: left; color: #dd1212; font: normal 11pt "Trebuchet MS"; background:#f6f4ed; padding:6px 6px 6px 15px;}
div.pnumber{float: right; color: #74655f; font: normal 11pt "Trebuchet MS"; background:#f6f4ed; padding:6px 6px 6px 15px;}
div.top-bottom{height:5px; background: url(../images/heading-bottom.png);}
p {
	line-height:normal;
	
}
/*  CONTENT DEFINITIONS  */
.grid_12 { width:970px !important; }
.grid_mc { padding: 15px;}
.grid_9, .grid_3 {
	margin-left: 9px !important;
	margin-right:9px !important;
}
.cnt {
	border: 1px solid #c2beb1;
	background:white;
	margin-top: 20px;
	margin-bottom: 20px;
	min-height: 400px;
}

#mc {
	width:910px !important;
	padding: 15px;
}


#left {
	width: 670px;
	padding:15px;
}
#footer {
	width:920px !important;
	margin: 20px 9px 0px 9px;
	padding:10px;
}
#tabs {
	font-size: 12px !important;
}
.ui-widget-content {
	color: #74655f !important;
}
#datepicker {
	font-size: 9px !important;
}
#login_data {
	color: #5b7104;
	padding-top:15px;
	padding-left:10px;
	font-size: 11px;	
}
#login_data a {
	font-size:11px;
	color: #738c0d;
}

#tlogo {
	text-align: right;
}


/*  MAIN MENU  */
ul#menu {
	margin:0px;
	padding:0px;
	background:url(../images/menu_separator.gif) left center no-repeat;
	float:left;
}
ul#menu li {
	display:block;
	float:left;
	height:54px;
	color: #e7e2d3;
	font-size:14px;
	line-height:54px;
	text-align:center;
	list-style:none;
	list-style-type:none;
	margin:0px;
	padding:0px 0px;
	background: url(../images/menu_separator.gif) right center no-repeat;
}
ul#menu li a {
	display:block;
	padding: 0px 10px;
	line-height:53px;
	color: #e7e2d3;
	text-decoration:none;
	background:url(../images/arrow_menu_on.gif) -200px center no-repeat;
}
ul#menu li a:hover {
	color: #e9f560;
	background:url(../images/arrow_menu_on.gif) bottom center no-repeat;
}
ul#menu li a.active {
	color: #e9f560;
	background:url(../images/arrow_menu_on.gif) bottom center no-repeat;	
}
/*  SUBMENU  */
#submenu {
	background:#74655f;
	border:1px solid #2e2725;
	line-height:29px;
	width:940px !important;
}
#submenu ul { margin:0px 15px; }
#submenu ul li {
	display:block;
	float:left;
	height:29px;
	color: #e7e2d3;
	font-size:11px;
	font-weight:bold;
	text-align:center;	
	line-height:29px;
	list-style:none;
	list-style-type:none;
	background:none;
	margin:0px;
	padding:0px 0px;	
}
#submenu ul li a {
	display:block;
	padding: 0px 15px;
	line-height:28px;
	color: #f0ede3;
	text-decoration:none;
}
#submenu ul li a:hover {
	color: #f0f967;
	text-decoration:underline;
}

#submenu ul li a.active {
	color: #f0f967;
}


/*  SYSTEM MESSAGES  */
p.notice {
	position:relative;
	display:block;
	background: #fffcd3 url(../images/icon_notice.gif) no-repeat 10px 11px;
	border: 1px solid #c2beb1;
	padding:10px 10px 10px 40px;
	color: #74655f;
	font-size: 13px;
}
p.success {
	position:relative;
	display:block;
	background: #e5f993 url(../images/icon_success.gif) no-repeat 10px 11px;
	border: 1px solid #9bac55;
	padding:10px 10px 10px 40px;
	color: #688006;
	font-size: 13px;
}
p.info {
	position:relative;
	display:block;
	background: #d4ebfa url(../images/icon_info.gif) no-repeat 10px 11px;
	border: 1px solid #90b1c7;
	padding:10px 10px 10px 40px;
	color: #4b6bab;
	font-size: 13px;
}
p.error {
	position:relative;
	display:block;
	background: #f6b9b9 url(../images/icon_error.gif) no-repeat 10px 11px;
	border: 1px solid #e18484;
	padding:10px 10px 10px 40px;
	color: #c32727;
	font-size: 13px;
}
p.error span, p.info span, p.notice span, p.success span { 
	position: absolute;
	right:7px;
	top:7px;
	font-weight:bold;
	font-size:10px;
	font-family:Arial, Helvetica, sans-serif;
	display:block;
	padding:5px;
	cursor:pointer;
}


/*  TABLE DEFINITIONS  */
table#data {border-top:1px dotted #dddddd;border-left:1px dotted #dddddd;font-size:11pt;color: #000000;line-height:normal !important;margin-bottom: 20px;}
table#data th.top1 {border-right:1px dotted #dddddd;border-bottom:1px dotted #dddddd;font-weight:normal;text-align: left;padding:5px;background:url(../../images/subcat.png) #ffffff; padding-left:12px; border-right: 1px dotted #dddddd; font-size: 10pt; color:#000000;}
table#data th.top2 {border-right:1px dotted #dddddd;border-bottom:1px dotted #dddddd;font-weight:normal;padding:5px;background:url(../../images/subcat.png) #ffffff; padding-left:12px; border-right: 1px dotted #dddddd;font-size: 10pt; color:#000000;}
table#data td {background:#fff;padding:5px;border-right:1px dotted #dddddd;border-bottom: 1px dotted #dddddd;font-size:10pt;}
table#data td.title {background:url(../../images/subcat.png) #fff;padding:5px;border-right:1px dotted #dddddd;border-bottom: 1px dotted #dddddd;font-size:10pt;}
table#data td.odd {background:#fbf9f4;padding:5px;border-right:1px dotted #dddddd;border-bottom: 1px dotted #dddddd;}
table#data td.even {background:#ffffff;padding:5px;border-right:1px dotted #dddddd;border-bottom: 1px dotted #dddddd;}

table#data th.pagination {text-align:right !important;}
table#data th a {font-weight:bold !important;text-decoration:none;color: #74655f;}
table#data th a:hover {text-decoration: underline;}
td.imgcont{padding-right: 10px;}


table#data2 {border-top:1px dotted #bfbfbf;border-left:1px dotted #bfbfbf;font: normal 10pt "Trebuchet MS";color: #000000;line-height:normal !important;margin-bottom: 20px;}
table#data2 th.top1 {border-right:1px dotted #bfbfbf;border-bottom:1px dotted #bfbfbf;font-weight:normal;text-align: left;padding:5px;background:url(../../images/subcat.png) #ffffff; padding-left:12px; border-right: 1px dotted #bfbfbf; font-size: 10pt; color:#000000;}
table#data2 th.top2 {border-right:1px dotted #bfbfbf;border-bottom:1px dotted #bfbfbf;font-weight:normal;padding:5px;background:url(../../images/subcat.png) #ffffff; padding-left:12px; border-right: 1px dotted #bfbfbf;font-size: 10pt; color:#000000;}
table#data2 td {background:#fff;padding:15px;border-right:1px dotted #bfbfbf;border-bottom: 1px dotted #bfbfbf;font-size:10pt;}
table#data2 td.odd {background:#fbf9f4;padding:15px;border-right:1px dotted #bfbfbf;border-bottom: 1px dotted #bfbfbf;}
table#data2 td.even {background:#ffffff;padding:15px;border-right:1px dotted #bfbfbf;border-bottom: 1px dotted #bfbfbf;}

table#data2 th.pagination {text-align:right !important;}
table#data2 th a {font-weight:bold !important;text-decoration:none;color: #74655f;}
table#data2 th a:hover {text-decoration: underline;}
td.imgcont{padding-right: 10px;}

/*  FORM ELEMENTS  */
.nice {
	border: 1px solid #c2beb1;
	background:#fbf9f4;
	padding: 15px;
	
}
.nice h2 {
	border-bottom: 1px solid #c2beb1;
	display:block;
	padding-bottom: 5px;
	font-size:13px;
	font-weight:bold;
}
.label {
	display: block;
	float: left;
}
.left {
	float:left;
	width:410px;
	margin-right: 58px;
}
.right {
	float:left;
	width: 410px;
}

.sItems {
	float:left;
	width:280px;
	margin-right: 10px;
	margin-top: 5px;
}

.cItems {
float:left;
width:90px;
margin-right: 5px;
}


.inputText {
	padding:3px 2px;
	border:solid 1px #ab9b94;
	width:400px;
	margin:5px 0px 10px 0px;
	font-size:13px;
	line-height:normal;
}

.inputTextSmall {
	padding:3px 2px;
	border:solid 1px #ab9b94;
	width:250px;
	margin:5px 0px 10px 0px;
	font-size:13px;
	line-height:normal;
}

.inputFile {
	padding:4px 2px;
	margin:5px 0px 10px 0px;
	font-size: 16px;
}


.green {
	display:inline-block;
	border:none;
	border: 1px solid #90b306;
	padding:5px 15px;
	color: #4d5f04;
	background: #aece2f;
	line-height: 25px !important;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	cursor: pointer;

}

div.mpleft {float: left; margin-right:20px; width: 445px; background:#f6f4ed;}
div.ableft {float: left; margin-right:20px; width: 423px; background:#f6f4ed; border: 1px solid #d9d1b1; padding:10px;}
div.mpright {float: left; width: 445px; background:#f6f4ed;}

div.maintitle{font-size: 11pt; border-bottom: 1px dotted #cccccc; padding:7px 15px 7px 15px; background: url(../images/maintop.png) top center no-repeat #eae6d9;}
div.maincont{font-size: 10pt; padding:15px; min-height:100px; background: url(../images/mainbottom.png) bottom center no-repeat;}

.brown {
display:inline-block;border: none;padding:4px 15px;color: #fbf9f4;line-height: 22px !important;font: bold 10pt "Trebuchet MS";cursor: pointer; 
background: #ff7719;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
-khtml-border-radius: 3px;
border-radius: 3px;
behavior: url(../ie-css3.htc);}
a:hover.brown{background:#e14906;}

a.button{
display:block;color:#ffffff;font-weight:bold;height:34px;line-height:33px;margin:0px 15px 10px 0px;text-decoration:none;font-size:10pt; float:left; padding-right:15px;
background: #ff7719;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
-khtml-border-radius: 3px;
border-radius: 3px;
behavior: url(../ie-css3.htc);}
a:hover.button{background:#e14906;}

.preview{background:url(../images/preview.png) no-repeat 10px 8px;text-indent:32px;display:block;}

.previous{background:url(../images/previous.png) no-repeat 10px 11px;text-indent:32px;display:block;}

a.button2{display:block;color:#ffffff;font-weight:bold;height:34px;line-height:33px;margin:0px 0px 10px 0px;text-decoration:none; padding-right:15px;font-size:10pt; float:left;
background: #ff7719;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
-khtml-border-radius: 3px;
border-radius: 3px;
behavior: url(../ie-css3.htc);}
a:hover.button2{background:#918f00;}

.confirm{background:url(../images/confirm.png) no-repeat 10px 8px;text-indent:32px;display:block;}


a.addnew{display:block;color:#ffffff;font-weight:bold;height:34px;line-height:33px;margin-bottom:14px;text-decoration:none; padding-right:15px;
font-size:10pt;
background: #ff7719;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
-khtml-border-radius: 3px;
border-radius: 3px;
width:175px;
behavior: url(../ie-css3.htc);}
a:hover.addnew{background:#e14906;}

.add{background:url(../images/add.png) no-repeat 8px 8px;text-indent:32px;display:block;}

a.addcolorways{display:block;color:#ffffff;font-weight:bold;height:34px;line-height:33px;margin-bottom:14px;text-decoration:none;width:164px;
font-size:10pt;
background: #ff7719;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
-khtml-border-radius: 3px;
border-radius: 3px;
behavior: url(../ie-css3.htc);}
a:hover.addcolorways{background:#e14906;}

.addcolor{background:url(../images/add.png) no-repeat 8px 8px;text-indent:32px;display:block;}


div.lText{font: bold 14pt "Trebuchet MS"; text-transform:uppercase; padding-bottom:10px;}
div.pnav{padding:5px 10px 5px 10px; background: url(../images/navbg.png) #dbd5c0;}
.sContent {
border: 1px solid #c2beb1;
background:#fbf9f4;
padding:15px;
}

#isdashboard{
width:960px;
background: transparent;
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
margin: 0;
border: none;
}



.linkmore {color: #74655f; font: normal 11pt "Trebuchet MS"; text-decoration: none; text-indent:0px;}
.linkmore:link {color: #74655f; font: normal 11pt "Trebuchet MS"; text-decoration: none; text-indent:0px;}
.linkmore:visited {color: #74655f; font: normal 11pt "Trebuchet MS"; text-decoration: none; text-indent:0px;}
.linkmore:active {color: #74655f; font: normal 11pt "Trebuchet MS"; text-decoration: none; text-indent:0px;}
.linkmore:hover{color: #74655f; font: normal 11pt "Trebuchet MS"; text-decoration: underline; text-indent:0px;}


ul#isdashboard li.normal .current {
	display: block;
	background: #E5E2D6;
	width: 319px;
	min-height: 66px;
	padding: 39px 0 0 0;
	z-index: 80;
	}

ul, li {margin: 0;padding: 0;vertical-align: baseline;border: 0;outline: 0;background: transparent;	}

.itemsinner {float: left; width: 282px; padding: 5px; border-right: 1px dashed #c2beb1; border-bottom: 1px dashed #c2beb1;}

.itemsinnerright {float: left; width:  280px; padding: 5px; border-bottom: 1px dashed #c2beb1;}

.itemsinnerlast {float: left; width:  282px; padding: 5px; border-right: 1px dashed #c2beb1;}

.itemsinnerlastright {float: left; width:  280px; padding: 5px;}


.itemsinnerlasts {float: left; width:  262px; padding: 5px; border-right: 1px dashed #c2beb1;}

.itemsinnerlastsright {float: left; width:  260px; padding: 5px;}


.clear {clear: both;height: 0px;}
.spacer7 {clear:both; height: 7px;}
.spacer20 {clear: both;height: 20px;}
.spacer15 {clear: both;height: 15px;}
.spacer10 {clear: both;height: 10px;}
.common {float: left;}
.commonlast {float: right;}

.showElement { display: default;}
.hideElement { display: none;}

.tactive{color:#74655f;}
.tinactive{color:#ff0000;}
.imgdisp{font-size: 7pt;}

div.itemsorder{float: left; width: 160px; margin: 0px 7px 25px 0px;}
div.itemsorderl{float: left; width: 175px; margin: 0px 7px 25px 0px;}
div.itemsorderu{float: left; width: 140px; margin: 0px 5px 25px 0px;}
div.dprices{float: left; width: 200px; margin: 0px 7px 0px 0px; padding: 5px; border: 1px dotted #c2beb1;}
div.dottedp{border-top: 1px dotted #c2beb1; height: 9px; margin-top: 5px;}
div.itemsorderlong{float: left; width: 200px; margin: 0px 15px 15px 0px;}
div.usagelist{float: left; width: 140px; margin: 0px 5px 0px 0px;}

span.pagenav{float: left; display: block; margin-right: 8px; text-align: center; border: 1px solid #cccccc; width: 23px; color: #cccccc;}
span.pagenavactive{float: left; display: block; margin-right: 8px; text-align: center; border: 1px solid #A0AD0A; width: 23px; color: #ffffff; background: #A0AD0A;}
span.pagenavactive2{padding: 2px 5px; color: #fff; text-decoration: none; background: #74655f; border: 1px solid #74655f; margin-right: 2px;}



.pagenav2:link, visited, active 
{padding: 2px 5px; color: #74655f; text-decoration: none; background: #cecece; border: 1px solid #74655f; margin-right: 2px;}
.pagenav2:hover 
{padding: 2px 5px; color: #fff; text-decoration: none; background: #74655f; border: 1px solid #74655f; margin-right: 2px;}

.pagenav:link, visited, active 
{
float: left; display: block; width: 23px; margin-right: 8px; text-align: center; border: 1px solid #A0AD0A; color: #A0AD0A; text-decoration: none;
}
.pagenav:hover 
{
float: left; display: block; width: 23px; margin-right: 8px; text-align: center; border: 1px solid #A0AD0A; color: #A0AD0A; text-decoration: underline;
}

.pagenavnew a{padding: 2px 5px; color: #b2b2b2; text-decoration: none; background: #f1f1f1; border: 1px solid #b2b2b2; margin-right: 2px;}
.pagenavnew a:hover{padding: 2px 5px; color: #ffffff; text-decoration: none; background: #74655f; border: 1px solid #74655f; margin-right: 2px;}


.bclink:link {color: #829b1e; font: normal 10pt "Trebuchet MS"; text-decoration: none;} 
.bclink:visited {color: #829b1e; font: normal 10pt "Trebuchet MS"; text-decoration: none;} 
.bclink:active {color: #829b1e; font: normal 10pt "Trebuchet MS"; text-decoration: none;} 
.bclink:hover{color: #829b1e; font: normal 10pt "Trebuchet MS"; text-decoration: none;} 

.astage {color: #4b6bab; background-color: #d4ebfa; padding: 5px 10px 5px 10px; border: 1px solid #90b1c7;}
.astageactive {color: #688006; background-color: #e5f993; padding: 5px 10px 5px 10px; border: 1px solid #9bac55;}

#dmhead {border:1px solid #90b1c7; padding: 4px 15px 4px 15px; margin-top:20px; background: #d4ebfa;}
.dmsub {border:1px solid #90b1c7; padding: 4px 15px 4px 15px; background: #d4ebfa;}
.dm-content {padding:15px; border:1px solid #c2beb1; background:#fbf9f4; border-top: none;}


td.listC {
	color: #000000;
	background-color: #e7e2d3;
	padding: 4px;
	
}

#stleft{float: left; width: 445px; margin: 0px 20px 15px 0px;}
#stright{float: left; width: 445px; margin: 0px 0px 15px 0px;}

#panel_left1{float: left; margin: 0px 15px 15px 0px;}
#panel_right1{float: left; margin: 0px 0px 15px 0px;}

#panel_left{float: left; width: 164px; margin: 0px 15px 15px 0px;}
#panel_leftm{float: left; width: 194px; margin: 0px 15px 15px 0px;}
#panel_right{float: left; width: 701px; margin: 0px 0px 15px 0px;}

.pmenuhead{border: 1px solid #d5ceb9; padding: 5px; background: #e7e2d3; font-weight: bold;}
.pmenuhead2{border: 1px solid #d5ceb9; padding: 5px; background: #ff776d; font-weight: bold;}
.pmenucontent{border: 1px solid #d5ceb9; border-top: none; padding: 10px; background:#fbf9f4;}
.pmenucontent .left{float: left; width: 420px; margin: 0px 45px 7px 0px;}
.pmenucontent .right{float: left; width: 420px; margin: 0px 0px 7px 0px;}
.pmenucontent .sn{float: left; width: 15px; margin-right: 5px;}
.pmenucontent .idesc{float: left; width: 295px; margin-right: 5px;}
.pmenucontent .icontrol{float: right;}

input.lsearch{border: 1px solid #e6e1d3; padding:4px; width:142px; font: normal 10pt "Trebuchet MS";}
select.lsearch{border: 1px solid #e6e1d3; padding:4px; width:142px; font: normal 10pt "Trebuchet MS";}

.btn {
display:inline-block;
width: 138px;
border: 1px solid #787467;
padding:0px 15px;
color: #fbf9f4;
background: url(../images/bg_button_brown.gif) repeat-x left top #7b6c66;
line-height: 25px !important;
font-size:13px;
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
cursor: pointer;
text-align: center;
}


.pitems{float: left; width: 155px; margin: 0px 15px 15px 0px;}

.pitemsm{float: left; width: 170px; margin: 0px 12px 12px 0px;}

.pitemhead{border: 1px dotted #c2beb1; padding: 5px; background: #e7e2d3; font: bold 10pt "Trebuchet MS"; }
.pitemcontent{border: 1px dotted #c2beb1; border-top: none; padding: 5px; background:#fbf9f4; text-align: center;}
.pitemfoot{border: 1px dotted #c2beb1; border-top: none; padding: 5px; background: #e7e2d3; text-align: right;}

.productsm{float: left; width: 170px; margin: 0px 15px 15px 0px;}
.productsm2{float: left; width: 170px; margin: 0px 0px 15px 0px;}
.producthead{border: 1px dotted #c2beb1; padding: 5px; background: #e7e2d3; font: bold 10pt "Trebuchet MS"; }
.productcontent{background:#ffffff; text-align: center;}
.productfoot{border-top: none; padding: 8px; background: url(../images/pbottombg.png) bottom center no-repeat #f6f4ed; text-align: left;}
.productfoot div.title{border-bottom: 1px solid #d5ceb9; padding-bottom: 8px;  text-align: left; min-height:39px;}
.productfoot div.option{border-top: 1px solid #fbfaf7; padding-top: 8px; text-align: left; }


.ipsm{float: left; width: 164px; margin: 0px 15px 15px 0px;}
.ipsm2{float: left; width: 164px; margin: 0px 0px 15px 0px;}
.iphead{border: 1px dotted #c2beb1; padding: 5px; background: #e7e2d3; font: bold 10pt "Trebuchet MS"; }
.ipcontent{background:#ffffff; text-align: center;}
.ipfoot{border-top: none; padding: 8px; background: url(../images/ipbottombg.png) bottom center no-repeat #f6f4ed; text-align: left;}
.ipfoot div.title{border-bottom: 1px solid #d5ceb9; padding-bottom: 8px;  text-align: left; min-height:39px;}
.ipfoot div.option{border-top: 1px solid #fbfaf7; padding-top: 8px; text-align: left; }

.instock{font: normal 9pt "Trebuchet MS"; color: green;}
.outofstock{font: normal 9pt "Trebuchet MS"; color: red;}

.cproducts{font: normal 9pt "Trebuchet MS"; color: #db4d02;}

.cproducts a{font: normal 9pt "Trebuchet MS"; color:#db4d02;}
.cproducts a:hover{font: normal 9pt "Trebuchet MS"; text-decoration: underline; color:#db4d02;}

input{border: 1px dotted #b7b3a5; padding:4px; font: normal 10pt "Trebuchet MS";}
select{border: 1px dotted #b7b3a5; padding:4px; font: normal 10pt "Trebuchet MS";}


.hiddendiv {
margin:  0px 0px 15px 0px;
display: none;
}

.divleft {float: left; width: 445px; margin-right: 20px;}

.divright {float: left; width: 445px;}

.dotted{border-top: 1px dotted #c2beb1; height: 14px;}


#prev_container {width: 770px; text-align: left;}

div.itembox2{
width:115px;
margin:0px 10px 0px 0px;
float:left;
background: transparent;
}

div.itembox2right{
width:115px;
margin:0px 0px 0px 0px;
float:left;
background: transparent;
}

div.fabitemc2 {
position: relative;
width: 115px;
background: transparent;
text-align: left;
}

div.fabitemc2 div.fname {
width: 111px;
min-height: 30px;
background: url("../images/fab_bg.png") bottom;
text-align: center;
margin: 0px 2px 0px 2px;
}

div.fabitemc2 div.fname a {
display: block;
width: 111px;
color: #7b796d;
text-decoration: none;
text-align: center;
}

td.cnamesmall {
font-size: 8pt; 
color: #828282; 
height: 30px;
width: 111px;
background: transparent;
}

.fleft{
width:108px;
margin:0px 0px 0px 2px;
float:left;
}

.fright{
width: 238px;
margin:0px 2px 0px 0px;
float:left;
}

div.cwayscroll
{
overflow:auto;

}

div.dImg {                         
position: relative;
margin: 0px 0px 0px 0px;
width: 350px;
height: 350px;
z-index: 1;
}
.cmsbuttons:link {color: #ffffff; background-color: #000000; padding: 5px 10px 5px 10px;} 
.cmsbuttons:visited {color: #ffffff; background-color: #000000; padding: 5px 10px 5px 10px;} 
.cmsbuttons:active {color: #ffffff; background-color: #000000; padding: 5px 10px 5px 10px;} 
.cmsbuttons:hover {color: #ffffff; background-color: #A0AD0A; padding: 5px 10px 5px 10px;}

.report_sent {color: #ffffff; background: #000000; padding: 5px 10px 5px 10px;width: 128px; display: block; float:left; margin-right: 10px; margin-bottom:10px; font: normal 10pt arial;} 
.report_sent_a {color: #ffffff; background: #000000; padding: 5px 10px 5px 10px;width: 128px; display: block; float:left; margin-right: 10px; margin-bottom:10px; font: normal 10pt arial;} 

.cmsbuttonsactive:link {color: #ffffff; background-color: #A0AD0A; padding: 5px 10px 5px 10px;} 
.cmsbuttonsactive:visited {color: #ffffff; background-color: #A0AD0A; padding: 5px 10px 5px 10px;} 
.cmsbuttonsactive:active {color: #ffffff; background-color: #A0AD0A; padding: 5px 10px 5px 10px;} 
.cmsbuttonsactive:hover {color: #ffffff; background-color: #A0AD0A; padding: 5px 10px 5px 10px;}

.cmsbuttonsy:link, .cmsbuttonsy:visited, .cmsbuttonsy:active {color: #7a9704; background: #ffffff; padding: 5px 10px 5px 10px;width: 170px; display: block; float:left; margin-bottom:10px; font: normal 10pt arial;} 
.cmsbuttonsy:hover {color: #ffffff; background: #A0AD0A; width: 170px; display: block; font: normal 10pt arial;}

.cmsbuttonsyactive:link {color: #ffffff; background-color: #A0AD0A; padding: 5px 10px 5px 10px; width: 150px;} 
.cmsbuttonsyactive:visited {color: #ffffff; background-color: #A0AD0A; padding: 5px 10px 5px 10px; width: 150px;} 
.cmsbuttonsyactive:active {color: #ffffff; background-color: #A0AD0A; padding: 5px 10px 5px 10px; width: 150px;} 
.cmsbuttonsyactive:hover {color: #ffffff; background-color: #A0AD0A; padding: 5px 10px 5px 10px; width: 150px;}

#tblSample {margin-bottom: 15px;}
#tblSample td{padding-bottom: 5px;}


td.cmsinner {
	border: 1px dotted #5F304B;
	background-color: #ffffff;
	padding: 10px;
}
  
  
/*--------------pragun ----------------*/

.insert_options {
  margin: 10px 0 0 0;
  border: #CCC 1px solid;
  background: #FFF;
  padding: 2px;
  color: #333;
  display:block;
   
}


.insert_options a {
  float: left;
  display: block;
  padding: 10px 24px;
  color: #369;
  text-align: center;
  text-decoration: none;
  font: normal 11px Arial, Helvetica, sans-serif;
} 


span.red {
  font: normal 12px/18px Arial, Helvetica, sans-serif;
  color: #D00;
}


.saving {
  /*background: url("../images/loading.gif") 5px 6px no-repeat #FFF;*/
  background:#fff;
  border: #CCC 1px solid;
  padding: 6px 20px;
  width: 60px;
  color: #666;
  display: none;
}

.content_paras {
  border: solid 1px #CCC;
  margin-top: 10px;
}

.content_paras .btn_options {
  border-bottom: #CCC 1px solid;
  padding: 2px 5px 0 5px;
  background: url("../images/strips.png");
}

.content_paras h3, .content_paras p {
  margin: 10px 0 0 0;
  padding: 0 10px 5px 10px;
}

.clearboth {
  clear: both;
  height: 0px;
  overflow: hidden;
}

ul.mygrid{
	list-style-type:none;
	padding:10px;
	
	
}