/* Tiny Carousel */
.myslider { height: 1%; overflow:hidden; padding: 10px 0;   }
.myslider .viewport { float: left; width: 642px; height: 170px; overflow: hidden; position: relative; }
.myslider .buttons {
    background: #829B1E;
    border-radius: 25px;
    display: block;
    margin: 70px 0 0 0;
    float: left;
    width: 25px;
    height: 25px;
    position: relative;
    color: #FFF;
    font-weight: bold;
    text-align: center;
    line-height: 25px;
    text-decoration: none;
    font-size: 15px;
}
.myslider .next {
    margin: 70px 0 0 0;
}
.myslider .buttons:hover{
    color: #FFF;
    background: #747d7d ;
}
.myslider .disable { visibility: hidden; }
.myslider .overview { list-style: none; position: absolute; padding: 0; margin: 0 0 20px 0; left: 0 top: 0; }
.myslider .overview li{ float: left; margin: 5px 10px 0 0; width: 195px; height: 145px; border:#DDD 1px solid; background:#EEE; padding:5px 5px 0px 5px; text-align: center; }
